* {
  font-family: 'Indie Flower', cursive;
}

body {
  background-color: #3B4CCA;
}

.nav-bar {
  background-color: #CC0000;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 30px;
  margin: 0;
}

a, a:visited {
  color: #FFDE00;
}